.carousel-image {
  margin: 20%;
  position: absolute;
  width: 60%;
  height: 60%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.slide-enter-active {
  opacity: 1;
}

