
.swiper-slide {
  width: 25rem;
  /* height: 25rem; */
  /* position: relative; */
}
 
.slider-controler .slider-arrow {
  color: var(----blanco-principal-bg);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(----blanco-principal-bg);
}

/* ///////////// */

article {
  position: relative;
  width: 25rem;
  transition: all .3s ease;
}

article img:first-child{
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  object-fit: cover;
}

article img:last-child {
  position: absolute;
  width: 25rem;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;
}

article:hover {
  transform: 
    perspective(1100px) 
    rotateX(10deg) 
    translateY(-5px) 
    translateZ(0);
}

article:hover::before{
  opacity: 1;
}

article:hover img:last-child {
  opacity: 1;
  transform: translateY(10%) scale(0.6); /* scale(0.8) reduce el tamaño al 80% */
}

.swiper-slide:hover .swiper-slide-shadow-left,
.swiper-slide:hover .swiper-slide-shadow-right {
  display: none;
}

